:root {
  --color-main-bkg: #FFB084;
  --color-cards-bkg: #fff;
  --color-card-4: #29A71E;
  --color-card-5: #3675B0;
  --color-card-6: #E13535;
}

body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  background-color: var(--color-main-bkg);
}

.container {
  padding: 2em;
  display: flex;
  justify-content: center;
}

.container > div {
  margin-right: 2em;
}

.cards {
  background-color: var(--color-cards-bkg);
  border-radius: 30px;
  padding: 2em;
  margin-bottom: 1em;
}

.card-1-title {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 1em;
}

.card-img {
  display: flex;
  margin-bottom: 2em;
}

.card-img > img {
  margin: auto;
}

.card-info {
  font-size: 16.5px;
}

.card-info > div:not(:last-child) {
  margin-bottom: 1em;
}

.card-info span {
  font-weight: 600;
}

.additional-info {
  display: flex;
}

.additional-info span {
  font-weight: 600;
}

.additional-info > div:not(:last-child) {
  margin-right: 2em;
}

.card-1, .card-3, .card-4, .card-6 {
  margin-bottom: 2em;
}

.card-1, .card-2, .card-3 {
  box-shadow: 12px 12px #000;
}

.card-2 {
  font-weight: 700;
  font-size: 19px;
}

.title {
  font-weight: 700;
  font-size: 19px;
  margin-bottom: .5em;
}

.card-text {
  font-size: 19px;
}

.card-4 {
  box-shadow: 12px 12px var(--color-card-4);
}

.card-4-title {
  color: var(--color-card-4);
}

.card-4, .card-5 {
  margin-right: 2em;
}

.card-5 {
  box-shadow: 12px 12px var(--color-card-5);
}

.card-5-title {
  color: var(--color-card-5);
}

.card-6 {
  box-shadow: 12px 12px var(--color-card-6);
}

.card-6-title {
  color: var(--color-card-6);
}