:root {
  --color-main-bkg: #FFB084;
}

body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  background-color: var(--color-main-bkg);
}

.container {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.container > div {
  margin-right: 10px;
}

.cards {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 10px;
}

.card-4, .card-5 {
  margin-right: 20px;
}