:root {
  --color-main-bkg: #FFB084;
  --color-cards-bkg: #fff;
  --color-card-4: #29A71E;
  --color-card-5: #3675B0;
  --color-card-6: #E13535;
}

body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  background-color: var(--color-main-bkg);
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.7fr 1fr 0.25fr 0.25fr 0.7fr;
  padding: 3em;
  gap: 30px;
}

.container > div {
  padding: 1.5em;
  border-radius: 30px;
  background: var(--color-cards-bkg);
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 1em;
}

.card-img {
  display: flex;
  margin-bottom: 2em;
}

.card-img > img {
  margin: auto;
}

.card-info {
  font-size: 16.5px;
}

.card-info > div:not(:last-child) {
  margin-bottom: 1em;
}

.card-info span {
  font-weight: 600;
}

.additional-info {
  display: flex;
}

.additional-info span {
  font-weight: 600;
}

.additional-info > div:not(:last-child) {
  margin-right: 2em;
}

.card-1 { 
  grid-area: 1 / 1 / 5 / 2;
  box-shadow: 12px 12px #000;
}

.card-2 { 
  grid-area: 5 / 1 / 6 / 2;
  font-weight: 700;
  font-size: 19px;
  box-shadow: 12px 12px #000;
}

.card-3 { 
  grid-area: 1 / 2 / 2 / 4;
  box-shadow: 12px 12px #000;
}

.card-3-title {
  font-weight: 700;
  font-size: 19px;
  margin-bottom: .5em;
}

.card-3-text {
  font-size: 19px;
}

.card-4 { 
  grid-area: 2 / 2 / 3 / 3;
  box-shadow: 12px 12px #29A71E;
}

.card-4-title {
  font-weight: 700;
  font-size: 19px;
  margin-bottom: .5em;
  color: var(--color-card-4);
}

.card-4 li {
  font-size: 19px;
}

.card-5 { 
  grid-area: 3 / 2 / 6 / 3;
  box-shadow: 12px 12px #3675B0;
}

.card-5-title {
  font-weight: 700;
  font-size: 19px;
  margin-bottom: .5em;
  color: var(--color-card-5);
}

.card-5 li {
  font-size: 19px;
}

.card-6 { 
  grid-area: 2 / 3 / 4 / 4;
  box-shadow: 12px 12px #E13535;
}

.card-6-title {
  font-weight: 700;
  font-size: 19px;
  margin-bottom: .5em;
  color: var(--color-card-6);
}

.card-6 li {
  font-size: 19px;
}

.card-7 { 
  grid-area: 4 / 3 / 6 / 4;
  box-shadow: 12px 12px #000;
}

.card-7-title {
  font-weight: 700;
  font-size: 19px;
  margin-bottom: .5em;
}

.card-7-hashtag {
  font-size: 19px;
}

.card-7-info {
  display: flex;
}

.card-7-info > div:not(:last-child) {
  margin-right: 1em;
}
