body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
}

h1 {
  font-size: 20px;
  text-align: center;
}

label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

input {
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  width: 353px;
  height: 25px;
  padding: 4px 8px;
  box-sizing: border-box;
}

input::placeholder {
  color: #CCCCCC;
}

input[type="password"] {
  font: small-caption;
  font-size: 28px;
}

select {
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  background: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  width: 353px;
  height: 25px;
  padding: 4px 8px;
  box-sizing: border-box;
}

button {
  background-color: #284A5E;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  width: 355px;
  height: 34px;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 12px;
}

ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

li {
  list-style-type: none;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
}

li:not(:last-child) {
  margin-right: 24px;
}

a {
  text-decoration: none;
  color: #fff;
}

.main-wrapper {
  background: linear-gradient(90deg, #3E718E, #64969B);
}

.form-container {
  min-height: 100vh;
  display: flex;
}

.container {
  width: 1000px;
  height: 667px;
  background-color: #fff;
  margin: auto;
  display: flex;
}

.wrapper-left {
  padding: 12px 32px;
  width: 55%;
}

.bkg-img {
  background-image: url(../img/bkg-img.svg);
  background-repeat: no-repeat;
  height: 620.81px;
}

.d-flex {
  display: flex;
}

.form-conteiner {
  margin: auto;
}

.margin-bottom {
  margin-bottom: 10px;
}

.password-field {
  margin-bottom: 44px;
}

.password-field > input {
  margin-bottom: .3em;
}

.password-info {
  color: #A8A8A8;
  font-weight: 400;
  font-size: 10px;
}

.password-info:not(:last-child) {
  margin-bottom: .3em;
}

.location-field {
  margin-bottom: 94px;
}

.location-field span {
  font-weight: 400;
  font-size: 12px;
  color: #A8A8A8;
}

.login-field {
  display: flex;
  justify-content: center;
}

.old-user {
  color: #C4C4C4;
  margin-right: 8px;
  font-weight: 700;
  font-size: 16px;
}

.old-user-login {
  color: #476D73;
  font-weight: 700;
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
}

.wrapper-right {
  background:linear-gradient(125deg,#517879, #214159);
  width: 45%;
  box-shadow: #4e7577 -4px 1px 36px;
  padding: 8px 12px;
}

.quote-container {
  color: #fff;
  font-weight: 700;
  padding: 165px 52px;
}

.quote {
  font-size: 48px;
  line-height: 60px;
}

.quote-author {
  font-size: 16px;
}