body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
}

h1 {
  font-size: 20px;
}

.main-wrapper {
  background: linear-gradient(90deg, #3E718E, #64969B);
}

.form-container {
  min-height: 100vh;
  display: flex;
  padding: 30px;
}

.container {
  width: 1000px;
  height: 667px;
  background-color: #fff;
  margin: auto;
}

.wrapper-left {
  padding: 12px 32px;
}