@keyframes gallery-1 {
  0% {
    transform: translateX(-1000px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes gallery-2 {
  0% {
    transform: translateX(1000px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes gallery-3 {
  0% {
    transform: translateX(-500px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes gallery-4 {
  0% {
    transform: translateX(500px);
  }

  100% {
    transform: translateX(0);
  }
}

:root {
  --color-header-bkg: #000;
  --color-text: #FFFCFC;
}

body {
  margin: 0;
  font-family: 'Rosario', sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

ul {
  display: flex;
  font-size: 26px;
  font-weight: 700;
  font-style: italic;
}

li {
  list-style-type: none;
  text-transform: capitalize;
}

li:not(:last-child) {
  margin-right: 2em;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-header-bkg);
  align-items: center;
  line-height: 100%;
}

.header img {
  display: block;
}

.navbar {
  padding-right: 1.5em;
}

.gallery-wrapper {
  min-height: 90vh;
  padding: 2em;
}

.gallery-container {
  display: flex;
}

.gallery-container > div {
  width: 25%;
}

.gallery-container img {
  width: 100%;
}

.gallery-container > div:not(:last-child) {
  margin-right: 1em;
}

.gallery-img-1 {
  animation: gallery-3 2s linear;
}

.gallery-img-4 {
  animation: gallery-4 2s linear;
}

.gallery-img-2 {
  animation: gallery-1 1s linear;
}

.gallery-img-3 {
  animation: gallery-2 1s linear;
}

.services-wrapper {
  display: flex;
  min-height: 90vh;
}

.services-img-container {
  display: flex;
  padding: 2em;
}

.services-images:not(:last-child) {
  margin-right: 4em;
}

.services-title {
  text-transform: capitalize;
  font-weight: 700;
  font-style: italic;
  font-size: 48px;
  text-align: center;
  margin-bottom: 1em;
}

.services-img-right > img {
  max-width: 100%;
}