:root {
  --color-header-bkg: #000;
  --color-text: #FFFCFC;
  --color-text-2: #000;
  --color-form-bkg: #E5E5E5;
  --color-input-placeholder: #00000080;
  --color-icons: #000;
}

body {
  margin: 0;
  font-family: 'Rosario', sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

ul {
  display: flex;
  font-size: 26px;
  font-weight: 700;
  font-style: italic;
}

li {
  list-style-type: none;
  text-transform: capitalize;
}

li:not(:last-child) {
  margin-right: 2em;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

input, textarea {
  border: none;
  padding: .5em;
  font-family: 'Rosario', sans-serif;
  font-weight: 700;
  font-size: 36px;
  box-sizing: border-box;
}

input, textarea::placeholder {
  color: var(--color-input-placeholder);
}

i {
  color: var(--color-icons);
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-header-bkg);
  align-items: center;
  line-height: 100%;
}

.header img {
  display: block;
}

.navbar {
  padding-right: 1.5em;
}

.gallery-wrapper {
  min-height: 90vh;
  padding: 2em;
}

.gallery-container {
  display: flex;
  overflow: hidden;
}

.gallery-container > div {
  width: 25%;
}

.gallery-container img {
  width: 100%;
}

.gallery-container > div:not(:last-child) {
  margin-right: 1em;
}

.gallery-img-1 {
  animation: left-to-right 2s linear;
}

.gallery-img-2 {
  animation: left-to-right 1s linear;
}

.gallery-img-3 {
  animation: right-to-left 1s linear;
}

.gallery-img-4 {
  animation: right-to-left 2s linear;
}

.services-wrapper {
  display: flex;
  min-height: 90vh;
}

.services-img-container {
  display: flex;
  padding: 2em;
}

.services-images:not(:last-child) {
  margin-right: 4em;
}

.services-title {
  text-transform: capitalize;
  font-weight: 700;
  font-style: italic;
  font-size: 48px;
  text-align: center;
  margin-bottom: 1em;
}

.services-img-right > img {
  max-width: 100%;
}

.services-image-1 {
  animation: move-1 20s linear infinite;
}

.services-image-1 > img {
  animation: rotate 20s 0s linear infinite;
}

.services-image-2 {
  animation: move-2 20s linear infinite;
}

.services-image-2 > img {
  animation: rotate 20s 5s linear infinite;
}

.services-image-3 {
  animation: move-3 20s linear infinite;
}

.services-image-3 > img {
  animation: rotate 20s 10s linear infinite;
}

.services-image-4 {
  animation: move-4 20s linear infinite;
}

.services-image-4 > img {
  animation: rotate 20s 15s linear infinite;
}

.team-wrapper {
  min-height: 90vh;
  padding: 2em;
}

.team-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 96px;
  text-align: center;
  margin-bottom: .5em;
}

.team-container {
  display: flex;
}

.team-container .team-card > img {
  max-width: 100%;
  display: block;
}

.team-container > div:not(:last-child) {
  margin-right: 1.5em;
}

.team-card {
  border-radius: 35px;
  overflow: hidden;
  position: relative;
}

.team-card-title {
  position: absolute;
  background-color: #A3530AB2;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4em;
  font-size: 32px;
  color: #fff; 
  display: none;
}

.team-card-title > div {
 margin: auto;
}

.footer-container {
  min-height: 90vh;
  padding: 3em;
}

.footer-info {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.footer-form {
  margin-right: 2em;
}

.form-title {
  font-weight: 700;
  font-style: italic;
  font-size: 64px;
  text-align: center;
  margin-bottom: .5em;
}

.form-container {
  background-color: var(--color-form-bkg);
  padding: 1em;
}

.form-info {
  display: flex;
  margin-bottom: 2em;
}

.form-name {
  margin-right: 2.5em;
}

.form-message > textarea {
  width: 100%;
}

.footer-map > iframe {
  max-width: 100%;
}

.contacts-container {
  display: flex;
  justify-content: center;
}

.contacts {
  text-align: center;
  margin-right: 2em;
}

.footer-links {
  font-weight: 700;
  font-size: 30px;
}

.footer-links > a {
  color: var(--color-text-2);
  font-weight: 600;
  font-style: italic;
}

.adress-item {
  font-weight: 600;
  font-style: italic;
  font-size: 30px;
}

.contacts-time {
  margin-right: 2em;
  text-align: center;
}

.contacts-time-title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: .5em;
}

.contacts-time-details {
  font-weight: 600;
  font-size: 30px;
  font-style: italic;
}

.social-networks {
  display: flex;
  flex-direction: column;
}

.social-networks-title {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: .5em;
}

.social-networks-links {
  margin: 0 auto;
}

.social-networks-links > div > a {
  color: var(--color-text-2);
}

.social-networks-links > div > a > i {
  margin-right: 1em;
}

@media screen and (max-width: 767px) {
  .gallery-container {
    flex-direction: column;
    align-items: center;
  }

  .gallery-container > div:nth-child(even) {
    animation: left-to-right 2s linear;
  }

  .gallery-container > div:nth-child(odd) {
    animation: right-to-left 2s linear;
  }

  .services-wrapper {
    justify-content: center;
  }

  .services-img-container {
    padding: 0;
  }

  .team-container {
    flex-direction: column;
    align-items: center;
  }

  .team-card {
    margin-bottom: 1em;
  }

  .team-card .team-card-title {
    display: flex;
    transition: opacity 2s;
    opacity: 0;
  }

  .team-card:focus .team-card-title {
    opacity: 1;
  }
}