body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 40px;
  padding: 32px 112px;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

i {
  color: #fff;
  font-size: 32px;
}

.wrapper {
  width: 1500px;
  margin: 0 auto;
}

.header-bkg {
  background-image: url("../img/фон.png");
  background-repeat: no-repeat;
  background-size:100%;
  height: 700px;
}

.header-img {
  display: flex;
}

.header-img > img {
  margin: 144px auto 350px;
}

.cards {
  display: flex;
  justify-content: center;
  margin-bottom: 42px;
}

.card {
  background-color: #231B0C;
  width: 400px;
  height: 460px;
}

.card:not(:last-child) {
  margin-right: 38px;
}

.align-center {
  text-align: center;
  padding: 15px 50px;
}

.card-title {
  margin-bottom: 105px;
}

.main-img {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.footer {
  background-color: #150F02;
  height: 279px;
  margin-bottom: 12px;
}

.footer-img {
  display: flex;
  justify-content: space-evenly;
  padding-top: 39px;
}

.margin-bottom {
  margin-bottom: 27px;
}

.footer-contacts {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-bottom: 6px;
}

.footer-border {
  border-bottom: 10px solid #FF6B00;
  width: 318px;
  margin: auto;
  margin-bottom: 20px;
}

.footer-icons {
  text-align: center;
}

.footer-icons > a:not(:last-child) {
  margin-right: 32px;
}