a {
  text-decoration: none !important;
  color: #A89D9D !important;
}

.logo {
  text-align: center;
  text-transform: uppercase;
  font-family: 'M PLUS 1', sans-serif;
  font-weight: 400;
  font-size: 48px;
  padding: 30px;

  .logo-blue {
    color: #3E45E8;
  }

  .logo-yellow {
    color: #E8C23E;
  }
}

.header-bkg-image {
  background-image: url("./Header/фонове\ зображення.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: calc(0.5311 * 100vw);
  display: flex;

  .container {
    margin: auto;
    display: flex;

    .flag {
      border-left: 23px solid transparent;
      position: relative;
      max-width: 23px;
      width: 100%;
      border-image: linear-gradient( 
        0.5turn, 
        rgb(0 209 255), 
        rgba(62 69 232), 
        rgb(232 194 62), 
        #e8c23e);  
      border-image-slice: 1;
      margin-right: 22px;
    }

    p {
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 48px;
      margin: 0;
      line-height: 75.5px;
    }
  }

}

h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  padding: 48px 80px 10px;
  margin: 0;
}

.main-content-border {
  max-width: 674px;
  position: relative;
  border-bottom: 10px solid transparent;
  border-image: linear-gradient(
    21.25turn, 
    rgb(0 209 255 / 70%), 
    rgba(62 69 232),
    rgb(232 194 62), 
    #e8c23e14);  
  border-image-slice: 1;
  width: 100%;
}

.cards {
  padding: 45px 80px;
  display: flex;

  .card {
    border: 5px solid #0D095F !important;
    width: 391.2px;
    height: 481px !important;
    margin: auto;
    border-radius: 35px !important;

    .card-img {
      width: calc(100% + 1px) !important;
    }

    .card-title {
      padding: 10px 10px;
      margin: 0;
      color: #0072DB;
      font-weight: 700;
      font-size: 24px;
      line-height: 37.75px;
    }

    .card-text {
      padding: 10px 55px 10px 10px;
      color: #FF9900;
      font-weight: 300;
      font-size: 20px;
      line-height: 31.46px;
    }
  }

  .card1 {
    box-shadow: -20px 15px 30px rgb(0 209 255 / 35%);}

  .card2 {
    box-shadow: rgb(0 209 255 / 35%) 1px 18px 30px;}

  .card3 {
    box-shadow: 20px 15px 30px rgb(0 209 255 / 35%);
  }
}

.main-container2-header {
  display: flex;
  margin-bottom: 32px;

  .main-container2 {
    margin: auto;

    .main-container2-title {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 40px;
      text-align: center;
      margin-bottom: 7px;
    }

    .main-container2-border {
      border-bottom: 7px solid #1400FF;
      width: 592px;
    }
  }
}

.container-image {
  display: flex;
  margin-bottom: 23px;

  .main-container2-image {
    margin: auto;
  }
}

.container-button {
  display: flex;
  margin-bottom: 36px;

  .btn-primary {
    margin: auto;
    padding: 0 !important;
    width: 499px;
    height: 81px;
    border-radius: 50px !important;
    font-weight: 700 !important;
    font-size: 64px !important;
    text-transform: uppercase;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
  }
}

.footer {
  height: 233px;
  background-image: linear-gradient(#013235, #0D0661);

  .links {
    display: grid;
    text-align: center;
    font-family: 'Marcellus SC', serif;
    font-size: 36px;
    margin-bottom: 10px;
  }

  .footer-icons {
    text-align: center;

    a:not(:last-child) {
      margin-right: 28px;
    }

    i {
      color: #A89D9D;
      font-size: 32px;
    }
  }
}
