@font-face {
  font-family: Inter;
  src: url('../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
} 

@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins/Poppins-Regular.ttf');
} 

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto/Roboto-Black.ttf');
} 

@font-face {
  font-family: Work_Sans;
  src: url('../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf');
}

body {
  font-family: Inter, sans-serif;
  margin: 0;
  background: #212529;
  color: #fff;
  padding: 8px 50px;
}

header {
  display: flex;
  justify-content: space-around;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  text-transform: capitalize;
  cursor: pointer;
}

li:not(:last-child) {
  margin-right: 25px;
}

li > a:hover {
  color: #FFB742;
}

a {
  text-decoration: none;
  color: #fff;
}

.d-flex {
  display: flex;
}

.header-btn {
  margin: auto;
  background-color: #FFB742;
  color: #212529;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 121px;
  height: 54px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 18px;
}

