@font-face {
  font-family: Inter;
  src: url('../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
} 

@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins/Poppins-Regular.ttf');
} 

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto/Roboto-Black.ttf');
} 

@font-face {
  font-family: Work_Sans;
  src: url('../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf');
}

html {
  --color-main-bkg: #212529;
  --color-text: #fff;
  --color-text-2: #FFB742;
  --color-text-3: #212529;
  --color-text-hover: #FFB742;
  --color-buttons: #FFB742;
  --color-card-bkg: #292B2E;
}

body {
  font-family: Inter, sans-serif;
  margin: 0;
  background: var(--color-main-bkg);
  color: var(--color-text);
  padding: 8px 50px;
}

header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 108px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  text-transform: capitalize;
  cursor: pointer;
}

li:not(:last-child) {
  margin-right: 25px;
}

li > a:hover {
  color: var(--color-text-hover);
}

a {
  text-decoration: none;
  color: var(--color-text);
}

.d-flex {
  display: flex;
}

.header-btn {
  margin: auto;
  background-color: var(--color-buttons);
  color: var(--color-text-3);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 121px;
  height: 54px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 18px;
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 137px;
}

.info-section-1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 50.75px;
}

.info-section-1 > span {
  text-decoration: underline;
  color: var(--color-text-2);
}

.info-section-2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 90.85px;
  margin-bottom: 25px;
}

.info-section-3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 50.75px;
}

.cards {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 221px;
}

.card {
  display: flex;
  width: 31.5%;
  background-color: var(--color-card-bkg);
  justify-content: space-around;
  align-items: center;
  padding: 28px 0;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  transition: all 1.5s;
}

.card:hover {
  background: linear-gradient(
    94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 100%
  );
}

.card:hover .card-title, .card:hover .card-subtitle {
  color: var(--color-text-3);
}

.card-title {
  font-size: 32px;
  color: var(--color-text-2);
}

.card-subtitle {
  font-size: 16px;
}

.about {
  display: flex;
}

.about-img {
  margin-right: 74px;
}