@font-face {
  font-family: Inter;
  src: url('../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
} 

@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins/Poppins-Regular.ttf');
} 

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto/Roboto-Black.ttf');
} 

@font-face {
  font-family: Work_Sans;
  src: url('../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf');
}

html {
  --color-main-bkg: #212529;
  --color-text: #fff;
  --color-text-2: #FFB742;
  --color-text-3: #212529;
  --color-text-4: #D4D4D4;
  --color-text-5: #000;
  --color-text-6: #F5FBF2;
  --color-text-7: #7B7B7B;
  --color-text-hover: #FFB742;
  --color-buttons: #FFB742;
  --color-card-bkg: #292B2E;
  --color-badge: #FFFFFF14;
  --color-skills-bkg: #383E45;
  --color-skills-bkg-hover: #FFB74280;
  --color-review-card: #fff;
  --color-star: #FFB742;
  --color-footer-bkg: #1C1C1C;
}

body {
  font-family: Inter, sans-serif;
  margin: 0;
  background: var(--color-main-bkg);
  color: var(--color-text);
}

header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 108px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  text-transform: capitalize;
  cursor: pointer;
}

li:not(:last-child) {
  margin-right: 25px;
}

li > a:hover {
  color: var(--color-text-hover);
}

a {
  text-decoration: none;
  color: var(--color-text);
}

footer {
  background-color: var(--color-footer-bkg);
  height: 470px;
  padding: 148px 48px 89px 50px;
  display: flex;
  justify-content: space-between;
}

.wrapper {
  padding: 8px 50px;
}

.d-flex {
  display: flex;
}

.header-btn {
  margin: auto;
  background-color: var(--color-buttons);
  color: var(--color-text-3);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 121px;
  height: 54px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 18px;
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 137px;
}

.info-section-1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 50.75px;
}

.info-section-1 > span {
  text-decoration: underline;
  color: var(--color-text-2);
}

.info-section-2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 90.85px;
  margin-bottom: 25px;
}

.info-section-3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 50.75px;
}

.cards {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 221px;
}

.card {
  display: flex;
  width: 31.5%;
  background-color: var(--color-card-bkg);
  justify-content: space-around;
  align-items: center;
  padding: 28px 0;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  transition: all 1.5s;
}

.card:hover {
  background: linear-gradient(
    94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 100%
  );
}

.card:hover .card-title, .card:hover .card-subtitle {
  color: var(--color-text-3);
}

.card-title {
  font-size: 32px;
  color: var(--color-text-2);
}

.card-subtitle {
  font-size: 16px;
}

.about {
  display: flex;
  margin-bottom: 18px;
}

.about-img {
  margin-right: 74px;
}

.badge-margin {
  margin-bottom: 11px;
}

.badge {
  background-color: var(--color-badge);
  color: var(--color-text-2);
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  width: 148px;
  height: 42px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 20px;
  padding: 6px 25px;
}

.title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 48px;
  text-transform: capitalize;
  margin-bottom: 29px;
}

.description {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-text-4);
  margin-bottom: 54px;
}

.main-btn {
  background-color: var(--color-buttons);
  color: var(--color-text-3);
  text-transform: capitalize;
  border: none;
  border-radius: 50px;
  width: 147.57px;
  height: 54px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.skills-section {
  display: flex;
  margin-bottom: 136px;
}

.skills-info {
  margin-right: 97px;
}

.badge-skills-margin {
  margin-bottom: 15px;
}

.skills-icon-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.skills-bkg {
  background-color: var(--color-skills-bkg);
  width: 80px;
  height: 80px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  transition: all 1.2s;
}

.skills-bkg:hover {
  border: 1px solid #000;
  background-color: var(--color-skills-bkg-hover);
}

.skills-bkg > img {
  margin: auto;
}

.skills-bkg:not(:last-child) {
  margin-right: 16px;
}

.works-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.badge-works-margin {
  margin-bottom: 11px;
}

.works-menu {
  margin-bottom: 50px;
}

.works-menu > ul > li > a:hover {
  background-color: var(--color-buttons);
  color: var(--color-text-3);
  padding: 5px 20px;
  border-radius: 3px;
}

.porfolio-images {
  display: flex;
  margin-bottom: 135px;
}

.porfolio-set:not(:last-child) {
  margin-right: 33px;
}

.portfolio-image:not(:last-child) {
  margin-bottom: 32px;
}

.reviews-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.badge-reviews-margin {
  margin-bottom: 9px;
}

.reviews-title {
  margin-bottom: 90px;
}

.review-cards {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 253px;
}

.review-card {
  background-color: var(--color-review-card);
  width: 378.91px;
  height: 455.11px;
  border-radius: 7.93px;
  padding: 50px 50px 50px 32px;
  box-sizing: border-box;
}

.review-card-stars {
  margin-bottom: 21px;
}

.review-card-stars > i {
  color: var(--color-star);
}

.review-card-text {
  color: var(--color-text-5);
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 37px;
}

.review-card-about {
  display: flex;
}

.review-card-photo {
  margin-right: 24px;
}

.review-card-name {
  color: var(--color-text-5);
  font-family: Poppins;
  font-weight: bold;
  font-size: 20px;
  line-height: 34px;
}

.review-card-profession {
  color: var(--color-text-5);
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
}

.footer-name {
  color: var(--color-text-2);
  font-family: Poppins;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 32px;
  text-transform: capitalize;
}

.footer-about {
  color: var(--color-text-4);
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 32.38px;
}

.footer-title {
  color: var(--color-text-6);
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 31.89px;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.footer-text {
  color: var(--color-text-7);
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 36.42px;
}
