body {
  position: relative;
  width: 1000px;
  height: 1763px;
  background: #F5F5F5;
  font-family: 'Inter', sans-serif;
}

.wrapper {
  padding: 42px 29px 51px 37px;
  background-color: #fff;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 700;
  font-size: 20px;
}

p {
  font-size: 12px;
}

.title {
  font-weight: 700;
}