body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  background: #FBE4FF;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}

li:not(:last-child) {
  margin-right: 65px;
}

.container {
  display: flex;
  width: 1354px;
  margin: 0 auto;
}

.menu {
  background-color: #243B93;
  height: 65px;
}

.menu-wrapper {
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  line-height: 100%;
}

.menu-language {
  display: flex;
  align-items: center;
}

.menu-language img {
  margin-right: 9px;
}

.menu-language > div {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 28px;
}

.header {
  background-color: #BFF0FF;
  height: 85px;
}

.title {
  color: #202846;
  font-weight: 400;
  font-style: italic;
  font-size: 44px;
  margin: 0;
  padding: 16px;
}

.selector {
  background: #fff;
  margin-top: 26px;
}

.custom-select {
  position: relative;
  width: 100%;
}

select {
  text-align: center;
  color: #0000009C;
  font-weight: 400;
  font-size: 28px;
}

.custom-select > select {
  border: 0;
  background: transparent;
  height: 57px;
  border: none;
  width: 100%;
} 

.custom-select:after {
  content: "";
  position: absolute;
  background: url("../img/dropdown.svg") no-repeat #fff center center;
  top: 0;
  bottom: 0;
  right: 0;
  width: 34px;
  pointer-events: none;
  padding: 12px 16px;
}

select:focus-visible {
  border: none;
  outline: none;
}

