body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  background: #FBE4FF;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}

li:not(:last-child) {
  margin-right: 65px;
}

i {
  color: #fff;
  font-size: 46px;
}

.container {
  display: flex;
  width: 1354px;
  margin: 0 auto;
}

.menu {
  background-color: #243B93;
  height: 65px;
}

.menu-wrapper {
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  line-height: 100%;
}

.menu-language {
  display: flex;
  align-items: center;
}

.menu-language img {
  margin-right: 9px;
}

.menu-language > div {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 28px;
}

.header {
  background-color: #BFF0FF;
  height: 85px;
}

.title {
  color: #202846;
  font-weight: 400;
  font-style: italic;
  font-size: 44px;
  margin: 0;
  padding: 16px;
}

.selector {
  background: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
}

.custom-select {
  position: relative;
  width: 100%;
}

select {
  text-align: center;
  color: #0000009C;
  font-weight: 400;
  font-size: 28px;
}

.custom-select > select {
  border: 0;
  background: transparent;
  height: 57px;
  border: none;
  width: 100%;
  cursor: pointer;
} 

.custom-select:after {
  content: "";
  position: absolute;
  background: url("../img/dropdown.svg") no-repeat #fff center center;
  top: 0;
  bottom: 0;
  right: 0;
  width: 34px;
  pointer-events: none;
  padding: 12px 16px;
}

select:focus-visible {
  border: none;
  outline: none;
}

.cards > div {
  margin-bottom: 42px;
}

.card {
  background: linear-gradient(82deg, #ADCBD4, #00AEE5);
  width: 100%;
  display: flex;
  padding: 33px;
  position: relative;
}

.card:hover {
  box-shadow: #2cbdeba1 0px 0px 70px 5px;
}

.card-img {
  margin-right: 30px;
  display: flex;
}

.card-img > img {
  height: 250px;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-title {
  color: #353C57;
  font-weight: 700;
  font-style: italic;
  font-size: 36px;
  line-height: 100%;
  margin-bottom: 4px;
}

.card-border {
  border-bottom: 3px solid #fff;
  margin-bottom: 13px;
}

.card-text-wrapper {
  background-color: #EDFBFF;
  width: 739px;
  padding: 10px 16px;
  box-sizing: border-box;
  flex-grow: 1;
}

.card-text {
  color: #202846;
  font-weight: 400;
  font-size: 22px;
  line-height: 28.47px;
}

.card-star {
  position: absolute;
  top: 6px;
  right: 6px;
  cursor: pointer;
}

.card-star:hover > svg {
  fill: #FFF500;
}

.card-btn {
  position: absolute;
  background-color: #243B93;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 400;
  font-size: 24px;
  width: 210px;
  height: 46px;
  bottom: 11px;
  right: -33px;
}

.card-btn:hover {
  background-color: #EF075B;
}

.personal-info {
  background: linear-gradient(90deg, #FFE601, #55D6FF);
  height: 85px;
  margin-bottom: 36px;
}

.personal-info-title {
  color: #202846;
  font-weight: 400;
  font-style: italic;
  font-size: 44px;
  margin: 0;
  padding: 16px;
  margin-bottom: 47px;
}

.personal-info-card {
  background: linear-gradient(180deg, #859EFF, #69FFD280);
  height: 498px;
  padding: 45px 81px;
  box-sizing: border-box;
  margin-bottom: 19px;
}

.personal-info-avatar {
  margin-right: 127px;
  display: inline-block;
}

.avatar-img {
  margin-bottom: 35px;
  text-align: center;
}

.wrapper-btn {
  margin-bottom: 26px;
}

.change-avatar-btn {
  background-color: #243B93;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 400;
  font-size: 24px;
  width: 250px;
  height: 50px;
}

.change-avatar-btn:hover {
  background-color: #EF075B;
}

.info-about {
  color: #353C57;
  font-weight: 700;
  font-style: italic;
  font-size: 36px;
  margin-bottom: 20px;
}

.personal-info-border {
  border-bottom: 3px solid #fff;
  margin-bottom: 20px;
  width: 712px;
}

.additional-info {
  font-weight: 400;
}

.info-exit-wrapper {
  display: flex;
}

.info-exit-btn {
  margin: auto;
  background-color: #243B93;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  width: 174px;
  height: 50px;
  margin-bottom: 56px;
}

.info-exit-btn:hover {
  background-color: #EF075B;
}

.contacts-container {
  margin-bottom: 28px;
}

.contacts {
  background: linear-gradient(135deg, #54D6FF, #FFE600);
  height: 85px;
  margin-bottom: 25px;
}

.contacts-title {
  color: #243B93;
  font-weight: 400;
  font-style: italic;
  font-size: 44px;
  margin: 0;
  padding: 16px;
  margin-bottom: 36px;
}

.contact-text-title {
  font-weight: 400;
  font-size: 32px;
}

.contact-border {
  border-bottom: 3px solid #202846;
}

.contact-text {
  font-weight: 400;
  font-size: 30px;
}

.contact-wrapper {
  margin-right: 56px;
}

.contact-wrapper-2 {
  margin-right: 115px;
}

.map-wrapper {
  border: 3px solid #243B93;
  border-radius: 40px;
  overflow: hidden;
  width: 499px;
  height: 290px;
}

.footer {
  background-color: #243B93;
  height: 65px;
}

.footer-text {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 23px;
}

.footer-text > div:not(:last-child) {
  margin-right: 15px;
}