body {
  background: #F5F5F5;
}

.wrapper {
  width: 1024px;
  margin: 0 auto;
  background-color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 4px solid #000;
  height: 25px;
}
