body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  padding: 48px 80px 10px;
  margin: 0;
}

h3 {
  padding: 10px 10px;
  margin: 0;
  color: #0072DB;
  font-weight: 700;
  font-size: 24px;
  line-height: 37.75px;
}

a {
  text-decoration: none;
}

p {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 48px;
  margin: 0;
  line-height: 75.5px;
}

.logo {
  text-align: center;
  text-transform: uppercase;
  font-family: 'M PLUS 1', sans-serif;
  font-weight: 400;
  font-size: 48px;
  padding: 30px;
}

.logo-blue {
  color: #3E45E8;
}

.logo-yellow {
  color: #E8C23E;
}

.header-bkg-image {
  background-image: url("../image/фонове\ зображення.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: calc(0.5311 * 100vw);
  display: flex;
}

.container {
  margin: auto;
  display: flex;
}

.img-flag {
  width: 23px;
  margin-right: 25px;
  height: calc(100% - 26px);
  margin-top: 13px;
}

/* .main-content {
  padding: 48px 80px;
} */

.main-content-border {
  /* border-bottom: 5px solid #3E45E8; */
  max-width: 674px;
  position: relative;
  border-bottom: 10px solid transparent;
  border-image: linear-gradient(
    21.25turn, 
    rgb(0 209 255 / 70%), 
    rgba(62 69 232),
    rgb(232 194 62), 
    #e8c23e14);  
    border-image-slice: 1;
  width: 100%;
}

/* .main-content-border::before {
  content: '';
  position: absolute;
  top: 100%;
  right: 0;
  border-bottom: 5px solid #E8C23E;
  width: calc(100% - 337px);
} */

.cards {
  padding: 45px 80px;
  display: flex;
}

.card {
  border: 5px solid #0D095F;
  width: 391.2px;
  height: 481px;
  margin: auto;
  border-radius: 35px;
}

.card1 {
  box-shadow: -20px 15px 30px rgb(0 209 255 / 35%);}

.card2 {
  box-shadow: rgb(0 209 255 / 35%) 1px 18px 30px;}

.card3 {
  box-shadow: 20px 15px 30px rgb(0 209 255 / 35%);
}

.card-text {
  padding: 10px 55px 10px 10px;
  color: #FF9900;
  font-weight: 300;
  font-size: 20px;
  line-height: 31.46px;
}

.card-image {
  width: 392.2px;
}

.main-container2-header {
  display: flex;
  margin-bottom: 32px;
}

.main-container2 {
  margin: auto;
}

.main-container2-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-bottom: 7px;
}

.main-container2-border {
  border-bottom: 7px solid #1400FF;
  width: 592px;
}

.container-image {
  display: flex;
  margin-bottom: 23px;
}

.main-container2-image {
  margin: auto;
}

.container-button {
  display: flex;
  margin-bottom: 36px;
}

button {
  margin: auto;
  width: 499px;
  height: 81px;
  background-color: #2A61F0;
  border: none;
  border-radius: 50px;
  font-weight: 700;
  font-size: 64px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}